.login-form{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(77, 77, 77);
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h2{
    margin-bottom: 30px;
}

.login-form-group{
    text-align: left;
    width: 80%;
    height: 40px;
     margin-bottom: 30px;
}

.login-input{
    width: 100%;
    height: 30px;
   
}

.login-label{
    text-align: left;
}

.login-button{
    width: 200px;
    height: 30px;
    background-color: rgb(37, 37, 67);
    color: white;
}