.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(42, 42, 94);
    color: white;
    box-shadow: 4px 0px 5px rgb(42, 42, 87);
    z-index: 3;
    position: relative;

}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
}

.login-link{
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: color 0.3s ease;
}

.login-link:hover{
    color: rgb(221, 221, 221);
    transition: color 0.3s ease;
}